<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (runbook(); as runbookRef) {
      <div>
        <h2 data-cy="runbookDetailsHeading"><span jhiTranslate="oncallApp.runbook.detail.title">Runbook</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ runbookRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="oncallApp.runbook.nombre">Nombre</span></dt>
          <dd>
            <span>{{ runbookRef.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="oncallApp.runbook.descripcion">Descripcion</span></dt>
          <dd>
            <span>{{ runbookRef.descripcion }}</span>
          </dd>
          <dt><span jhiTranslate="oncallApp.runbook.origenAlerta">Origen Alerta</span></dt>
          <dd>
            <span [jhiTranslate]="'oncallApp.OrigenAlerta.' + (runbookRef.origenAlerta ?? 'null')">{{
              {
                null: '',
                PROMETHEUS: 'PROMETHEUS',
                DATADOG: 'DATADOG',
                CLOUDWATCH: 'CLOUDWATCH',
                HEALTHCHECK: 'HEALTHCHECK',
                MANUAL: 'MANUAL',
              }[runbookRef.origenAlerta ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="oncallApp.runbook.severidadMinima">Severidad Minima</span></dt>
          <dd>
            <span [jhiTranslate]="'oncallApp.Severidad.' + (runbookRef.severidadMinima ?? 'null')">{{
              { null: '', SEV1: 'SEV1', SEV2: 'SEV2', SEV3: 'SEV3', SEV4: 'SEV4' }[runbookRef.severidadMinima ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="oncallApp.runbook.patronFingerprint">Patron Fingerprint</span></dt>
          <dd>
            <span>{{ runbookRef.patronFingerprint }}</span>
          </dd>
          <dt><span jhiTranslate="oncallApp.runbook.tiempoMaxMinutos">Tiempo Max Minutos</span></dt>
          <dd>
            <span>{{ runbookRef.tiempoMaxMinutos }}</span>
          </dd>
          <dt><span jhiTranslate="oncallApp.runbook.activo">Activo</span></dt>
          <dd>
            <span>{{ runbookRef.activo }}</span>
          </dd>
          <dt><span jhiTranslate="oncallApp.runbook.servicio">Servicio</span></dt>
          <dd>
            @if (runbook()!.servicio) {
              <div>
                <a [routerLink]="['/servicio', runbook()!.servicio?.id, 'view']">{{ runbookRef.servicio?.nombre }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/runbook', runbookRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
